<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--CONTAINER FOR PAGE-->
<div class="container">


<!-- HEAD SECTION -->
<!-- contains navigation links and (potentially search bar) -->
    <div class="headbox">
        <a class="a"  href='/'>HOME</a>&nbsp;&nbsp;&nbsp;
        <a class="a"  href='/new'>INSERT</a>&nbsp;&nbsp;&nbsp;
        <a class="a"  href='/show_one/:id'>SHOW ONE</a>&nbsp;&nbsp;&nbsp;
        <a class="a"  href='/show_edit/:id'>EDIT</a>&nbsp;&nbsp;&nbsp;
        <a class="a"  href='/delete/:id'>DELETE</a>&nbsp;&nbsp;&nbsp;
        <a class="a"  href='/'>SHOW ALL</a>&nbsp;&nbsp;&nbsp;
        <a class="a"  href='/logout'>LOG OUT</a>&nbsp;&nbsp;&nbsp;
        <a class="a"  href='/login'>LOGIN</a>&nbsp;&nbsp;&nbsp;

        <br></br>
    </div>
<!-- END OF HEAD SECTION-->


<!-- BEGIN DASHBOX-->

    <div class="dashbox">

    <h1>Welcome to the Mongoose Dashboard</h1>
    
    </div>

<!-- END DASHBOX -->


<!-- BEGIN MAIN HERE -->

<div class = "main">

<!-- BEGIN FORM BOX -->

<div class ="show_form_box">

<h1>Create an Animal</h1>
<br>

<form method='post' action='/create'>
    <h1>Name:<input class="input" type='text' placeholder="name" name='name'></h1>
    <br>
    <h1>Type:<input class="input" type='text' placeholder="type" name='type'></h1>
    <br>
    <h1>Personality:<input class="input" type='text' placeholder="personality" name='personality'></h1>
    <br>
    <h1><input class="btn" type="submit"  value="submit"></h1>
</form>

</div>

<!-- END FORM BOX -->

<!-- BEGIN SHOW ONE BOX -->
<div class="show_one_box">

 <h1>show the mongoose here</h1> 

   <br><h2>Here are the Animals Here:</h2>

</div>
<!-- END SHOW ONE BOX HERE -->


</div>
<!-- END MAIN HERE -->

<!-- BEGIN FOOTER HERE -->
<div class="foot">


</div>
<!-- END FOOTER HERE -->

</div>
<!-- END CONTAINER HERE -->

</div>
</body>
</html>